body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.round-count {
    font-size: 250%;
    text-align: center;
}

.contents {
    display: flex;
    justify-content: space-around;
    padding: 3vh;

    img {
        width: 40vw;
        height: 50vh;
    }
}

.menu {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.menu-name {
    font-size: 200%;
}

.versus {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20vh;
    width: 100%;
    img {
        width: auto;
        transform: translate(-50%, -50%);
        height: 100%;
    }
}