.image-text-container {
    display: flex;
    flex-direction: column;
    /* 가로 방향으로 요소 배열 */
    align-items: center;
    justify-content: center;
}

.image-text-container img {
    width: 50%;
    /* 이미지 너비를 화면의 절반으로 설정 */
    height: 300px;
    margin-right: 0px;
    /* 이미지와 텍스트 사이의 간격 */
}

.text-container {
    width: 700px;
    flex: 1;
    /* 텍스트 컨테이너가 남은 공간을 모두 차지하도록 설정 */
    padding: 10px;
    /* 내부 여백 추가 */
}

#f-center {
    text-align: center;
    font-size: 250%;
}

.menu_info {
    font-size: 14px;
}

.center-text {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

.external-img {
    width: 600px;
    height: 600px;
}

.map {
    width: 700px;
    height: 300px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box {
    margin: auto;
    width: 700px;
    border: 1px solid #b4c4d5;
    background-color: #d9e6f4;
    border-radius: 10px;
   
}

.review {
    margin: auto;
    width: 700px;
    height: 200px;
}

.reviewtxt {
    /* margin-left:10%; */
    margin-bottom: 3%;
    margin-left: 8%;
    margin-right: 10%;
}

.writeReviewBox {
    width: 700px;
}
.nameAndStarBox {
    width: 600px;
    height: 50px;
    margin: auto

}
#nametxt {
    display: inline-block;
}
#name {
    border: 2px solid #2E90FA;
    border-radius: 3px;
    height: 20px;
    width: 70px;
    display: inline-block;
    margin-right: 20px;
}
#startxt {
    display: inline-block;
}
#myform {
    display: inline-block;
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #c6c4c4; /* 새 이모지 색상 부여 */
    
}
#myform label:hover{
    text-shadow: 0 0 0 rgb(234, 229, 107); /* 마우스 호버 */
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgb(234, 229, 107); /* 마우스 호버 뒤에오는 이모지들 */
}
#myform input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgb(234, 229, 107); /* 마우스 클릭 체크 */
}

#writeReviewArea {
    border: 2px solid #2E90FA;
    border-radius: 10px;
    margin: auto;
    margin-left: 7%;
    width: 600px;
    height: 70px;
    resize: none;
}

#submitBtn {
    border: 2px solid #1980ef;
    border-radius: 5px;
    background-color: #3f8fe5;
    margin-top: 15px;
    width: 50px;
    height: 25px;
    margin-left: 85%;
}
#fileForm {
    height: 40px;
}
.filebutton {
    display: flex; 
    justify-content: left;
    margin-left: 7%;
    margin-top: 4%;
    background-color:#a4c5e7;
    border: 2px solid #1980ef;
    border-radius: 5px;
    height: 22px;
    width: 100px;
  
}

#chooseFile {
    visibility: hidden;
  
}
label {
    cursor: pointer;
    font-size: 1em;
}
#showImgBox {
    height:150px;
    width: 600px;
    background-color: #b6cee6;
    margin:auto;
    border: 2px solid #2E90FA;
    border-radius: 10px;

}
#showImg {
    height:140px;
    width: 140px;
    margin:5px;
    border-radius: 10px;
}
.showReview {
    width: 700px;
    height: 1000px;
}

.showReviewtxt {
    margin-left: 8%;
    margin-right: 10%;
    margin-bottom: 3%;
    margin-top: 50%;
}

.showReviewBox {
    /* margin-left:10%;
    margin-right:20%; */
    margin: auto;
    border: 2px solid #2E90FA;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 330px;
    margin-bottom: 10px;
}

#foodImg {
    height:135px;
    width: 135px;
    margin:5px;
    border-radius: 10px;
    margin-right: 2px;
    border-radius: 10px;
    border: 3px solid #cbdcef;
}
.information {
    display: flex;
}

#loginimg {
    margin: 10px;
    width: 40px;
    height: 40px;
}

.name {
    margin-left: 3px;
    margin-right: 20px;
}

.star {
    margin-right: 20px;
}

.content {
    margin: auto;
    margin-top: 2%;
    margin-left: 2%;
    
   
}

.foodImgGroup {
    margin-top: 13%;
    
}

#moreReviewBtn {
    border: 3px solid #1980ef;
    border-radius: 10px;
    background-color: #2E90FA;
    width: 600px;
    height: 50px;
    margin: auto;
    margin-top: 7px;
    margin-left: 7%;
}