#f-center {
    text-align: center;
    font-size: 250%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #menuContainer {
    display: flex;
    flex-direction: column;
    /* 가로 방향으로 요소 배열 */
    align-items: center;
    justify-content: center;
  }
  .restaurant {
    /* border: 1px solid #ccc; */
    margin: 20px;
    padding: 20px;
    text-align: center;
  }

  .margin-top-bottom {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  
  .menu-items {
    list-style-type: none;
    padding-left: 0;
  }
  .restaurant img {
    /* max-width: 100%;
    height: auto; */
    width: 700px;
    height: 400px;
  }

  .restaurant h2 {
    margin-top: 35px;
    font-size: 35px;
  }

  .text-container_right {
    text-align: right;
  }

  .text-container_left {
    text-align: left;
  }

  .text-container_left_rgb {
    text-align: left;
    color: rgb(126, 126, 126);
  }